@import "./colors.css";
@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main configuration */

.body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color-primery);
}

.link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color-primery);
}

/* header */

.logo-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-link > .logo-first-word {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

/* section portfolio */

.item-link {
  padding: 6px 22px;

  background-color: var(--btn-background-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.item-desc {
  font-size: 16px;
  line-height: 30px;
}

/* footer */

.footer {
  color: var(--footer-primery-color);
}

.footer-item-title {
  font-weight: bold;
  color: var(--title-primery-color);
  text-transform: uppercase;
}

.footer > .adress {
  color: var(--footer-secondary-color);
}
