@import "./colors.css";
@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding: 94px 15px;
  margin: auto;
}

.body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color-primery);
}

.link {
  text-decoration: none;
  color: var(--text-color-primery);
}

ul,
.all-list {
  list-style: none;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.list-social-network {
  display: flex;
}
