@import "./colors.css";
@import "./fonts.css";

/* header */

.header {
  display: flex;
  /* width: 1230px; */
  padding: 0 15px;
  margin: auto;
  flex-direction: row;
  align-items: center;
}

.logo-link {
  display: inline-block;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  padding-top: 24px;
  padding-bottom: 25px;

  margin-right: 85px;
}

.logo-link > .logo-first-word {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  position: relative;
}

.active-page {
  color: var(--accent-color);
  position: relative;
}

.navigation .nav-link:hover::after,
.navigation .nav-link:focus::after,
.navigation .active-page::after {
  content: "";
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: 0;
  right: 0;

  background-color: var(--accent-color);
}

.nav-list,
.contacts-list {
  display: flex;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link.contact {
  display: flex;
  align-items: center;
}

.icon-contact {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.nav-link.contact:hover .icon-contact,
.nav-link.contact:focus .icon-contact {
  --color5: var(--accent-color);
}

.contacts-list {
  margin-left: auto;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contscts-item:not(:last-child) {
  margin-right: 30px;
}
