@import "./colors.css";
@import "./fonts.css";

/* hero */

.hero {
  height: 600px;
  background-color: #ff6347;
}

.hero-title {
  display: block;
  padding: 0;
  width: 696px;
  margin: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--title-primery-color);
}

.order-service-link {
  display: block;
  margin: auto;
  width: 200px;

  padding: 10px 32px;
  background: var(--accent-color);
  color: var(--title-primery-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

/* section all*/

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

/* section advantage */

.advantage-title {
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}

.advantage-txt {
  font-weight: normal;
  line-height: 24px;
  color: var(--text-color-secondary);
}

.advantages-items {
  display: flex;
}

.advantages-item {
  width: 270px;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

/* what we do */

.list-services {
  display: flex;
}

.item-service {
  width: 380px;
}

.item-service:not(:last-child) {
  margin-right: 30px;
}

/* section our team */

.employee-name,
.employee-status {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.employee-name {
  font-weight: 500;
}

.employee-status {
  color: var(--text-color-secondary);
}

.list-our-team {
  display: flex;
}

.item-team {
  width: 270px;
}

.item-team:not(:last-child) {
  margin-right: 30px;
}

.list-social-network {
  display: flex;
}

/* section clients */

.list-clients {
  display: flex;
}

.item-client:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: block;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
