@import "./colors.css";
@import "./fonts.css";

.section-nav-list {
  display: flex;
  width: 611px;
  margin: auto;
  margin-bottom: 50px;
}

.section-nav-item:not(:last-child) {
  margin-right: 8px;
}

.item-link {
  display: block;
  padding: 6px 22px;

  background-color: var(--btn-background-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.active-filter {
  background-color: var(--accent-color);
  color: var(--title-primery-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item:not(:nth-last-child(3n + 1)) {
  margin-right: 30px;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 30px;
}

.item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.item-desc {
  font-size: 16px;
  line-height: 30px;
}
