@import "./colors.css";
@import "./fonts.css";

.footer-background {
  background-color: var(--footer-background-color);
}

.footer {
  height: 252px;
  color: var(--footer-primery-color);
  display: flex;
  /* align-items: center; */
}

.footer-address {
  padding-top: 60px;
  margin-right: 69px;
}

.footer-info,
.footer-form-wrapper {
  padding-top: 72px;
}

.footer-info {
  margin-right: 94px;
}

.footer .logo-link {
  color: var(--footer-secondary-color);
  padding: 0;
  margin-bottom: 20px;
}

.footer-item-title {
  font-weight: bold;
  color: var(--title-primery-color);
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer > .adress {
  color: var(--footer-secondary-color);
}

.adress,
.email {
  margin-bottom: 9px;
}

.adress {
  color: var(--footer-secondary-color);
}

.item-social-network.footer-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-social-background-color);
}

.footer-icon .social-icon {
  --color3: white;
}

.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-email {
  width: 358px;
  height: 50px;

  margin-right: 12px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: transparent;
}

.input-email::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: rgba(255, 255, 255, 0.6);;
}

.input-email:hover,
.input-email:focus {
  color: var(--footer-secondary-color);
}

.btn-send {
  width: 200px;
  height: 50px;

  outline: none;
  border: none;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-txt {
  margin-right: 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--footer-secondary-color);
}

.send-icon {
  width: 20px;
  height: 20px;

  align-self: center;
}
