@import "./colors.css";
@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1230px;
  margin: auto;
}

.body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color-primery);
}

/* SECTIONS */

.section {
  padding: 94px 15px;
}

/* LINKS */

.link {
  text-decoration: none;
  color: var(--text-color-primery);
}

/* LIST */

.all-list {
  list-style: none;
}

.section-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* SOCIAL LINKS */

.section-list.social-list {
  width: 206px;
  height: 44px;
  margin: auto;
  justify-content: space-around;
}

.social-link {
  width: 44px;
  height: 44px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  --color3: var(--card-background-primery-color);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.item-social-network:not(:last-child) {
  margin-right: 10px;
}
